body {
    background-color: #000;
    color: #fff;
    // margin: 0px;
    overflow: hidden;
}

@media screen and (orientation: landscape) {
    #info {
	text-align: left;
	padding: 1em;
	width: 33%;
	position: absolute;
	left: 0;
    }
    #help {
	text-align: right;
	padding: 1em;
	width: 33%;
	position: absolute;
	right: 0;
    }
    #helpText {
	text-align: left;
    }
}

@media screen and (orientation: portrait) {
    #info {
	color: #ccc;
	text-align: left;
	padding: 1em;
	position: absolute;
	top: 0;
    }
    #help {
	text-align: left;
	padding: 1em;
	position: absolute;
	bottom: 0;
	width: 50%;
    }
}

.hidden {
    visibility: hidden;
    display: none;
}

a { color: #e4741f }

#nav {
    text-align: right;
    padding: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
}

#incidence, #rotation, #absorbed {
    text-align: right;
    width: 3em;
}
